# Поддомен, на который указывает A-запись DNS на этот сервер
# Например: smarthome.example.com
DOMAIN=smarthome.example.com

# Email для уведомлений Let's Encrypt об истечении сертификатов
ACME_EMAIL=you@example.com
